<div class="containerHeader">
  <div class="containerIconUser">
    <fa-icon icon="circle-user" class="iconUser"></fa-icon>
  </div>

  <div class="containerDataUser">
    <div class="containerTexto">

      <div class="containerSaludo">
        <ion-label class="saludo">Buen día</ion-label>
      </div>
      <div class="containerUsuario">
        <ion-label class="nombre">Usuario: {{nombre}}</ion-label>
      </div>

    </div>
    <div class="containerIconMenú">
      <fa-icon icon="bars" class="iconMenu" (click)="mostrarMenu()"></fa-icon>
    </div>
  </div>

</div>