
<ion-content>

  <app-header></app-header>

  <div style="width: 100%; height: 80%; display: flex; justify-content: center; align-items: center; flex-direction: column;"  class="pulsating-button">
    <div>
      <ion-icon name="alert-circle-outline"
      style="font-size: 200px;"></ion-icon>
    </div>
    <div>
      <ion-label>
        ¡AYUDA!
      </ion-label>
    </div>
  </div>



  <!-- <a href="https://api.whatsapp.com/send?phone=7831369023&text=%C2%A1Hola!%20Estoy%20probando%20el%20env%C3%ADo%20de%20mensajes%20desde%20mi%20aplicaci%C3%B3n."> enviar</a> -->
</ion-content>